@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto:wght@100;300;700&display=swap');
* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Finger Paint', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --dashBoard: #212B36;
    --title: #212B36;
    --card: #F3F6F9;
    --font: #75778B;
}
/* Grid-Layout */
.small-icon {
    height: 25px;
    width: 25px;
}

.main-icon {
    height: 35px;
    width: 35px;
}

.wrapper-grid {
    display: grid;
    grid-template-columns: 25rem 2fr 24rem;
    grid-template-rows: 150px 350px;
    grid-auto-rows: 1fr;
    row-gap: 50px;
}

.header {
    grid-column: 2/-1;
}

.info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 30px 25rem;
}

.info-content {
    display: grid;
    grid-template-columns: 30px 30px 1fr;
    column-gap: 20px;
}

.inline {
    display: inline;
}

.personal-info {
    margin-top: 20px;

    display: grid;
    grid-template-columns:  40rem 10rem 10rem 10rem;
    column-gap: 20px;
    align-items: center;
}

.name {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

.up {
    grid-row: 2;
    grid-column: 2/-1;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
}

.dashboard-icon {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.menu,
.settings {
    display: grid;
    grid-template-columns: 1fr;
}

.item,
.catalog {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    column-gap: 10px;
}

.aside1 {
    grid-row: 2;
    grid-column: 3;
    border: 1px solid;
    border-radius: 10px;
    padding:30px 10px 0;
    box-shadow: 10px 10px 5px 1px rgb(179, 172, 172);
}

.aside2 {
    grid-row: 3;
    grid-column: 3;
    border: 1px solid;
    border-radius: 10px;

    box-shadow: 10px 10px 5px 1px rgb(179, 172, 172);
}

.aside-container {
    border-bottom: 1px solid rgb(179, 172, 172);
}

.aside-card {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.main {
    grid-row:2;
    grid-column: 2;

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}

.project-card {
    padding: 10px;
    border: 1px solid rgb(179, 172, 172);
    border-left: 5px solid goldenrod;
    box-shadow: 5px 5px 5px 1px rgb(179, 172, 172);
}

.project-card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.project-card .content {
    grid-row: 2/3;
    grid-column: 1/-1;
    overflow-x: hidden;
}

.icon-wrap {
    grid-row: 3;
    grid-column: 2;
}


/* Styuliong */

h1,h2,h3,h4,h5,h6 {
    color: var(--title);
}

p {
    color: var(--font);
}

.project-card,
.aside-card,
.aside-container {
    background: var(--card);
}

a {
    color: var(--font);
}
li a:hover {
    text-decoration: underline #212B36;
} 

button {
    background-color: var(--title);
    color: var(--card);
    padding: 10px;
}

button:focus {
    opacity: .9;
}

.search-box {
    width: 600px;
    padding-left: 20px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid var(--font);
    border-radius: 10px;
}

.search-box:focus {
    border: 0px;
    border-bottom: 2px solid var(--dashBoard);
}